@model SchoolManagementSystem.Models.Course

@{
    ViewBag.Title = "Delete";
    Layout = null;
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LanguageProficiency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanguageProficiency)
        </dd>
    </dl>

    @using (Ajax.BeginForm(new AjaxOptions { })) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
