@model SchoolManagementSystem.Models.Teacher

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Teacher</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ApplicationUser.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ApplicationUser.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Course.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Course.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Position)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Position)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AddInformation)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AddInformation)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SalaryPerHour)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SalaryPerHour)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Salary)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Salary)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Surname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Surname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Patronymic)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Patronymic)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
