@model SchoolManagementSystem.Models.Student

@{
    Layout = null;
}
<h3>Are you sure you want to delete this?</h3>
@using (Html.BeginForm("delete", "students", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.HiddenFor(model => model.StudentId)
    <h4>Student</h4>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>
    <div>
        <input type="submit" value="Delete" />
    </div>
}
