@model IEnumerable<SchoolManagementSystem.Models.Student>

@{
    ViewBag.Title = "List of student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <table id="students_table" class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
                <th style="display:none">
                    @Html.DisplayNameFor(model => model.StudentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Patronymic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="display:none">
                        @Html.DisplayFor(modelItem => item.StudentId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Patronymic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button id="btnDelete" value="Delete student">Delete student</button> 
    @Html.ActionLink("Delete student", "Delete", "Students", new { id = "" }, new { @id = "DeleteButton" })
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#students_table').DataTable({
                "scrollY": '50vh',
                scrollCollapse: true,
                paging: false

            });
            $('#students_table tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected')
                }
            });
            $('#DeleteButton').click(function () {
                var studentId = table.row('.selected')[0]; //this give me correct id
                //alert(studentId); 
                if (studentId) {
                    $.get("?id=" + studentId, function () {
                        table.row('.selected').remove().draw(false);
                    });
                }
            });
            /*$('#btnDelete').click(function () {
                var studentId = table.row('.selected')[0];
                //alert(studentId);
                if (studentId) {
                    var href = "?id=" + studentId;
                    $("#DeleteButton").attr(href).click();
                    //$('#DeleteButton').attr("?id=" + encodeURIComponent(studentId)).click();
                }
                table.row('.selected').remove().draw(false);
            });*/

        });
    </script>







<!--
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentId })
        </td>
    </tr>
}

</table>
-->
