<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <style>
        .header {
            padding-left: 200px;
            padding-right: 150px;
            border-bottom: 1px solid #e5e5e5;
        }
    </style>
    <!-- Bootstrap core CSS -->
    <!--<link href="~/Content/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
</head>
<body class="q">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li>@Html.ActionLink("Registration", "Register", "Account", new { htmlAttributes = new { @class = "active" } }) </li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        @Html.ActionLink("School Managment System", "Register", "Account", new { area = "" }, new { @class = "navbar-brand" })
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
