@model SchoolManagementSystem.Models.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Log in</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/login.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-login", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <h2 class="form-login-heading">Please log in</h2>
            @Html.EditorFor(model => Model.Email, new { htmlAttributes = new { @class = "form-control", type = "email", placeholder = "Email address", autofocus = "autofocus", required = "required" } })
            @Html.EditorFor(model => Model.Password, new { htmlAttributes = new { type = "password", @class = "form-control", placeholder = "Password", required = "required" } })
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
         }
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
</body>
</html>